@import url('https://fonts.googleapis.com/css2?family= Oswald :wght@600 & display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sem serifa;
}
section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.circle2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 0, 0);
  clip-path: circle(80% at bottom right);
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo2{
  position: relative;
  max-width: 150px;
}
header .navegation2 ul{
  position: relative;
  display: flex;

}
header .navegation2 li{
  list-style: none;
}
header .navegation2 li a{
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-weight: 500%;
  font-size: 19px;
  margin-left: 100px;

}
.container2{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container2 .text2{
  position: relative;
  max-width: 600px;
  margin-right: 20px;
}
.container2 .text2 h2{
  color: #fff;
  font-size: 3em;
  margin-bottom: 10px;
  line-height: 2.5em;
  font-weight: 700;
}
.container2 .text2 h2 span{
  font-size: 2em;
  color: red;
}
.container2 .text2 p{
  color: #fff;
}
.container2 .text2 a{
  display: inline-block;
  margin-top: 50px;
  padding: 10px 25px;
  background: red;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 40px;
  transition: 0.3s ease-in-out;
}
.container2 .text2 a:hover{
  transform: translateY(-10px);
}
.icons{
  position: absolute;
  bottom: 90px;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons li{
  list-style: none;
}
.icons li a{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  margin-left: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.icons li a:hover{
  background: rgb(255, 38, 0);
  transform: translateY(-10px);

}
.icons li a img{
  transform: scale(0.06);
  
}
.boxImg2{
  position: absolute;
  right: 0;
  bottom: 150px;
}
.boxImg2 img{
  width: 250px;
}
.boxImg2 .img01{
  transform: rotate(0deg);
}
.boxImg2 .img02{
  transform: rotate(0deg);
}
.boxImg2 .img03{
  transform: rotate(0deg);
}
.boxImg2 .img04{
  transform: rotate(0deg);
}