@import url('https://fonts.googleapis.com/css2?family= Oswald :wght@600 & display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sem serifa;
}
section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  background: #121212;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.circle6{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  clip-path: circle(55% at bottom right);
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo{
  position: relative;
  max-width: 150px;
}
header .navegation6 ul{
  position: relative;
  display: flex;

}
header .navegation6 li{
  list-style: none;
}
header .navegation6 li a{
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  font-weight: 500%;
  font-size: 19px;
  margin-left: 100px;

}
.container6{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container6{
  position: relative;
  max-width: 600px;
  margin-right: 20px;
}
.container6 .text6 h3{
  color: #fff;
  font-size: 3em;
  margin-bottom: 10px;
  line-height: 1.5em;
  font-weight: 700;
}
.container6 .text6 a{
  display: inline-block;
  margin-top: 50px;
  padding: 15px 25px;
  background: red;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.3px;
  border-radius: 40px;
  transition: 0.3s ease-in-out;
  
}
.container6 .text6 a:hover{
  transform: translateY(-10px);
}
.icons{
  position: absolute;
  bottom: 90px;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons li{
  list-style: none;
}
.icons li a{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
  margin-left: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.icons li a:hover{
  background: rgb(255, 38, 0);
  transform: translateY(-10px);

}
.icons li a img{
  transform: scale(0.06);
  
}
.boxImg6{
  position: absolute;
  right: 0;
  bottom: 0px;
}
.boxImg6 img{
  width: 600px;
}
.boxImg6 .img1{
transform: rotate(0deg);
}